{
    "timeout": 120,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection-log.txt"
    },
    "mutators": {
        "@default": true,
        "CastInt": false,
        "CastString": false,
        "Increment": false,
        "GreaterThan": false,
        "Identical": false,
        "Continue_": false,
        "Multiplication": false,
        "Plus": false,
        "Foreach_": false,
        "CloneRemoval": false,
        "Decrement": false,
        "FunctionCallRemoval": {
            "ignore": [
                "WyriHaximus\\TestUtilities\\TestCase::waitUntilTheNextSecond"
            ]
        },
        "MethodCallRemoval": {
            "ignore": [
                "WyriHaximus\\TestUtilities\\TestCase::tearDown"
            ]
        },
        "TrueValue": {
            "ignore": [
                "WyriHaximus\\TestUtilities\\TestCase::provideTrueFalse"
            ]
        },
        "ArrayItemRemoval": false,
        "FalseValue": {
            "ignore": [
                "WyriHaximus\\TestUtilities\\TestCase::provideTrueFalse"
            ]
        },
        "PublicVisibility": {
            "ignore": [
                "WyriHaximus\\TestUtilities\\TestCase::provideTrueFalse"
            ]
        },
        "UnwrapStrToUpper": {
            "ignore": [
                "WyriHaximus\\TestUtilities\\TestCase::getSysTempDir"
            ]
        }
    }
}
