parameters:
	ignoreErrors:
		- '#Variable method call on Latitude\\QueryBuilder\\Builder\\CriteriaBuilder.#'
		- '#Method WyriHaximus\\React\\SimpleORM\\LazyInspectedEntity::getTable\(\) should return string but returns string\|null.#'
		- '#Method WyriHaximus\\React\\SimpleORM\\Annotation\\Clause::getLocalCast\(\) has a nullable return type declaration.#'
		- '#Method WyriHaximus\\React\\SimpleORM\\Annotation\\Clause::getForeignCast\(\) has a nullable return type declaration.#'
		- '#Method WyriHaximus\\React\\SimpleORM\\Annotation\\Clause::getLocalFunction\(\) has a nullable return type declaration.#'
		- '#Method WyriHaximus\\React\\SimpleORM\\Annotation\\Clause::getForeignFunction\(\) has a nullable return type declaration.#'
		- '#Variable property access on \$this\(WyriHaximus\\React\\SimpleORM\\Annotation\\Clause\).#'
		- '#Variable property access on \$this\(WyriHaximus\\React\\SimpleORM\\Annotation\\InnerJoin\).#'
		- '#Variable property access on \$this\(WyriHaximus\\React\\SimpleORM\\Annotation\\LeftJoin\).#'
		- '#Parameter \#1 \$argument of class ReflectionClass constructor expects class-string<T of object>\|T of object, string given.#'
		- '#Variable property access on#'
		- '#Method WyriHaximus\\React\\SimpleORM\\RepositoryInterface::page\(\) has parameter \$order#'
		- '#Method WyriHaximus\\React\\SimpleORM\\RepositoryInterface::page\(\) has parameter \$where#'
		- '#Method WyriHaximus\\React\\SimpleORM\\RepositoryInterface::fetch\(\) has parameter \$order#'
		- '#Method WyriHaximus\\React\\SimpleORM\\RepositoryInterface::fetch\(\) has parameter \$where#'
		- '#Method WyriHaximus\\React\\SimpleORM\\Repository::page\(\) has parameter \$order#'
		- '#Method WyriHaximus\\React\\SimpleORM\\Repository::page\(\) has parameter \$where#'
		- '#Method WyriHaximus\\React\\SimpleORM\\Repository::fetch\(\) has parameter \$order#'
		- '#Method WyriHaximus\\React\\SimpleORM\\Repository::fetch\(\) has parameter \$where#'
	ergebnis:
		classesAllowedToBeExtended:
			- WyriHaximus\TestUtilities\TestCase

includes:
	- vendor/wyrihaximus/async-test-utilities/rules.neon
