parameters:
	ergebnis:
		classesAllowedToBeExtended:
			- Exception
			- Psr\Log\AbstractLogger
			- WyriHaximus\TestUtilities\TestCase

includes:
	- ../../vendor/wyrihaximus/async-test-utilities/rules.neon
