parameters:
	level: max
	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
				- EventSauce\ObjectHydrator\DoNotSerialize
				- ShipMonk\PHPStan\DeadCode\Provider\ReflectionBasedMemberUsageProvider
	paths:
		- ../../etc
		- ../../src
		- ../../tests
	excludePaths:
		- ../../src/Generated/Hydrator.php
		- ../../src/Tools/LazyPromise.php
		- ../../src/Tools/NaivePropertyTypeResolver.php
